.custom-card-body {
    height: 135px;
    background-color: rgba(35, 44, 65, 0.4);
}

.img{
    width: 214px;
    height: 350px;
}


.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.09);
}

.card-row {
    height: 65px;

}

@media (max-width: 576px) {
    .card:hover {
        transform: none;
    }
}
